

@media (max-width:2560px) and (min-width:690px){
    .heading3{
        display: none;
        
    }
}

@media (max-width:690px) and (min-width:200px){
    .heading1,.heading2{

        display: none;

    }
}




.navbar-light .navbar-nav .nav-link:hover {
    
    color: #0984e3;

}

.navbar-light .navbar-nav .nav-link {
    
    font-weight: bold;
    color: rgb(105, 105, 105);
}

.para{
    font-family: sans-serif;
}

.dropdown-menu {
    display: block;visibility: hidden;opacity:0;transform: translateY(50px);transition:.5s ease all;
}
.dropdown-menu.show {
    display: block;visibility: visible;opacity:1;transform: translateY(0px);transition:.5s ease all;
}  


/* SLIDER CAPTIONS */

 .heading1{
    font-size: 5vh;
    margin-bottom: 8vh;
    font-family:cursive ;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    letter-spacing: 3px;
    text-align: center;
    font-weight: bold;
    

}
.heading2 {
    margin-bottom: 8vh;
    font-size: 5vh;
    font-family: cursive;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    letter-spacing: 2px;
    text-align: center;
    font-weight: bold;
    
} 

.heading3{
    font-family: cursive;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    letter-spacing: 2px;
    text-align: center;
    font-weight: bold;
    font-size: 4vh;
}


    /* MAIN */

    
#rides{
    height: 250px;
    margin-top: 15px;
    border-radius: 10px;
    
}

#food{
    height: 250px;
    border-radius: 10px;

}

strong{
    font-size: 25px;
}

 